@tailwind base;
@tailwind components;
@tailwind utilities;

.gradient-left {
  background: linear-gradient(-125deg, #8176af 35%, #c0b7e8 74%);
  background-clip: text;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}
.gradient-right {
  background: linear-gradient(125deg, #8176af 35%, #c0b7e8 74%);
  background-clip: text;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

body {
  @apply bg-bgColor text-white;
}

.max-width {
  @apply max-w-[1440px] mx-auto;
}

.padding-x {
  @apply px-5 xl:px-10 md:px-10 lg:px-10;
}

.arrow-icon {
  @apply hidden object-contain w-[70px] cursor-pointer xl:block lg:block ml-2;
}

.arrow-hover {
  @apply transform -translate-y-0 right-0 hover:-translate-x-[20%] transition-transform duration-300;
}

.button-gradient {
  @apply rounded-full bg-gradient-to-r from-secondary to-light text-bgColor font-bold px-10 my-7 py-4 w-full lg:w-56 xl:w-56;
}

.image-hero {
  @apply w-full  rounded-[90px] rounded-bl-[200px] border-[15px] border-black border-opacity-20;
}

.gradient-circle {
  @apply bg-gradient-radial w-full h-full;
}

.feature-image {
  @apply w-[60px] mx-auto;
}

.line {
  @apply h-[65px] bg-light p-[1px] opacity-25;
}
