@import url("https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap");

@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --font-family: "Montserrat", sans-serif;
  --bg-color: hsl(251, 18%, 23%);
  --light-gradient: linear-gradient(
    125deg,
    rgba(129, 118, 175, 1) 35%,
    rgba(192, 183, 232, 1) 74%
  );
  --dark-gradient: radial-gradient(
    circle,
    rgba(58, 52, 86, 1) 34%,
    rgba(33, 30, 46, 1) 63%
  );
}

* {
  margin: 0;
}

body {
  font-family: var(--font-family);
  background-color: var(--bg-color);
}
